.to-do-page {
  display: flex;
  flex-direction: column; /* Alinear elementos verticalmente */
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  font-size: 2rem;

  .task-card-wrapper {
    cursor: grab; /* Cambia el cursor para indicar que se puede arrastrar */
    overflow: hidden; /* Elimina scrolls */
  }

  h1 {
    margin-bottom: 1rem;
  }

  button {
    margin-top: 1rem;
    font-size: 1rem;
  }

  ul {
    list-style: none;
    padding: 0;
    margin-top: 2rem;

    li {
      font-size: 1.2rem;
      margin: 0.5rem 0;
    }
  }

  .floating-button {
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 1000;
  }
}
